.details-bg {
    background-color: rgba(104, 93, 49, 0.824) !important;
}

.chef-name {
    text-decoration: #8f7041 underline wavy;
}

.bio {
    text-align: justify;
}

.card-btn:hover {
    background-color: #FFFFFF !important;
    color: #FEAF39 !important;
}