.footer-bg {
    background-color: rgba(104, 93, 49, 0.824) !important;
}

.icon {
    height: 25px;
    width: 25px;
}
.newsletter-btn {
    color: #FFFFFF;
    background-color: #feaf39;
    border: none;
    border-radius: 5px;
}

h4 {
    font-family: 'Ubuntu' sans-serif;
}