.sign-up-link {
    text-decoration: none;
}

.sign-in-btn {
    border: none;
    background-color: #FFFFFF;
    box-shadow: 0 0 50px #ccc;
    padding: 15px 40px;
    text-decoration: none;
    border-radius: 6px;
}

.icon {
    height: 25px;
    width: 25px;
}